.sign-in, .sign-up {
    background-color: rgb(77, 76, 76);
    color: white;
    height: 100vh;
    text-align: center;
    padding-top: 50px;
}
.form-container {
    background-color: black;
    color: white;
    height: 80vh;
    max-width: 80vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    @media (max-width: 768px) {
        height: 100vh;
        max-widght: 100vw;
    }
}
.back-to-home {
    color: white;
    float: left;
    text-decoration: none;
}
.submit-button {
    background-color: rgb(43, 255, 0);
    color: white;
    border: none;
}
.submit-button:hover {
    background-color: rgb(5, 143, 5);
}
.bottom-text {
    margin-top: 20px;
    padding-top: 20px;
    margin-bottom: -5px;
}